.c-page {
  --bg-color: #080a1a;
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.xingyuv-default-layout-out.ant-layout-has-sider .xingyuv-default-layout-main {
  margin-left: 0 !important;
}
.run-bg-color{
  background-color: #70b604;
}
.alarm-bg-color{
  background-color: #eda44e;
}
.idle-bg-color{
  background-color: #65b8f8;
}
.down-bg-color{
  background-color: #b3c9da;
}
.run-text-color{
  color: #70b604;
}
.alarm-text-color{
  color: #eda44e;
}
.idle-text-color{
  color: #65b8f8;
}
.down-text-color{
  color: #b3c9da;
}